body {
  font-family: 'JetBrains Mono';
  color: white;
  /* font-family: 'Times New Roman'; */
  margin: 20px;
  padding: 20px;
  height: 100vh;
  background-color: black;
}

nav {
  display: flex;
  justify-content: center;
}

.nav-btn {
  color: white;
  text-decoration: none;
}


a {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@keyframes gradient {
  from {
    background-color: black;
    ;
  }

  to {
    background-color: red;
  }
}

/* button hover effect */
a:hover {
  background-color: #dd6a6a;
  animation-name: gradient;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


#content {
  border: 2px dashed #ccc;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}
